[user]
  name = gs3
  email = doub1e.31415@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  ad = add
  ci = commit
  st = status
  co = checkout
  cl = clone
  br = branch
  pu = pull
  dif = diff
	diw = diff --word-diff
  sub = submodule
[core]
	editor = /Applications/MacVim.app/Contents/MacOS/Vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore
	precomposeunicode = true
	pager = less -r
[push]
  default = simple
[diff]
	noprefix = true
