[user]
  name = Yoshihide Taniguchi (ravelll)
  email = ravelll.taniguchi@gmail.com
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  a = add
  aa = add -A
  ai = add -i
  ap = add -p
  b  = branch --sort=-authordate
  ba = branch -a --sort=-authordate
  ci = commit -v
  cia = commit -v -a
  cie = commit --allow-empty
  co = checkout
  cm = checkout master
  cl = clone
  cln = !git fetch --prune | git branch --merged | grep -v \\* | xargs -I % git branch -d %
  d  = diff
  dc = diff --cached
  dw = diff --word-diff=color
  dn = diff --name-only
  f = fetch
  fp = fetch --prune
  l = log
  lfp = log --first-parent
  pu = pull
  r = reset
  back = reset HEAD^
  fback = reset --hard HEAD^
  s = show
  st = status
  sh = stash
  shl = stash list
  shp = stash pop
  shd = stash drop
  sub = submodule
  latestmerge = log -1 --merges --pretty=format:%H
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
  precomposeunicode = true
[pager]
  diff = diff-highlight | nkf -w | LESS=-R less
  log  = diff-highlight | nkf -w | LESS=-R less
  show = diff-highlight | nkf -w | LESS=-R less
[push]
  default = simple
[diff]
  noprefix = true
  compactionHeuristic = true
[ghq]
  root = ~/src
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
