[user]
  name = gs3
  email = doub1e.31415@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  a = add
  ai = add -i
  ci = commit
  cia = commit -a
  st = status
  sh = stash
  shl = stash list
  shp = stash pop
  shd = stash drop
  co = checkout
  cm = checkout master
  cl = clone
  b  = branch
  ba = branch -a
  pu = pull
  d  = diff
  dc = diff --cached
  dw = diff --word-diff
  dn = diff --name-only
  l = log
  r = reset
  sub = submodule
  cln = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
  editor = /Applications/MacVim.app/Contents/MacOS/Vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
  precomposeunicode = true
  pager = less -r
[push]
  default = simple
[diff]
  noprefix = true
